
.block {
    float:left;
    position:relative;
    background: white;
    width: 100%;
    margin-right:1%;
    min-width: 200px;
    height: 200px;
    text-align: left;
    overflow:hidden;
    border:solid 2px #adadad; 
    color: black; 

  }

.block2{
    float:left;
    position:relative;
    background: rgb(216, 216, 216);
    width: 100%;
    margin-right:1%;
    min-width: 250px;
    height: 40px;
    text-align: left;
    overflow:hidden;
    color: black;
    font-size : 25px ;
    border:solid 1px #adadad;  
    font-weight: bold;
    top: 20%
}

.block3{
    
    position:relative;
    bottom: 400px;
}

.noir {
    color: black;
}

.noir-profil-titre {
    color: black;
    margin-left: 10px;
    font-size : 25px ;
    
}

.logout {
    margin-left: 10px;
    width: 10%;
    text-align: center;
    background: rgb(184, 183, 183);
}

.update {
    position:absolute;
    top: 150px; left: 146px;
    width: 7%;
    
    text-align: center;
    background: rgb(184, 183, 183);
}

.delet {
    position:absolute;
    top: 150px; left: 240px;
    width: 7%;
    text-align: center;
    background-color: red;
}

.marging{
    margin-left: 10px;
}

.noir-profil {
    color: black;
    margin-left: 10px;
    font-size : 17px ;
    font-weight: bold;
}

.pp {
    top :6% ;
    right: 16%;
    position:absolute;
}

.param {
    color: black;
    font-weight: bold;
    font-size : 30px ;
    text-align: left;
}

.box2 {
    top: 40%; 

}

/* slide */

* {box-sizing:border-box}

.slideshow-container {
  max-width: 75%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  right: 95%;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    left: 95%;
    margin-top: -22px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;}

.active, .dot:hover {background-color: #717171;}
.fade {animation-name: fade;animation-duration: 1.5s;}
@keyframes fade {from {opacity: .4}to {opacity: 1}}

.slide{
    top : 85%;
    right: 50%;
    position: absolute;
    text-align: center;
}

.avatar {
    text-align: left;
}

.avatarcontent{
    position: static;
    background-color: aqua;
    overflow:hidden;
    min-width: 20px;
    height: 80px;
    top: 85%;
    left: 87%;
    width: 12%;
}

.error404{
    position: static;
    top: 10%;
    width: 65%;
}

