{% extends "base.html" %}

{% block content %}
<div class="hero-body"> 
<div class="column is-4 is-offset-4">
    <h3 class="title">Se connecter</h3>
    <div class="box">
        <form method="POST" action = {{url_for('login')}}>
            <div class="msg">{{ msg }}</div> 
            <div class="field">
                <div class="control">
                    <input required class="input is-large" type="mail" name="mail"  id="mail" placeholder="Votre Email ou Pseudo" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input required class="input is-large" type="password" name="password"  id="password" placeholder="Votre mot de passe">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Se connecter</button>
        </form>
        <br>
        <form action= {{url_for('signup')}}>
            <button class="button is-block is-info is-large is-fullwidth">S'inscrire</button>
        </form>
    </div>
</div>
</div>
{% endblock %}