{% extends "base.html" %}
{% block content %}

<div class="block3" > 
    <h1 class = "param"> 
       Paramètres
    </h1> 
    <br>
    <div class = "block2" > 
        <h2 class="noir-profil-titre "> 
            Profil 
        </h2>
    </div>
    <div class="block">
        
        {% if image_name %}
        <a href="{{ url_for('upload_avatar') }}" >
        <img class = "pp" src="{{ url_for('static', filename='uploads/avatar/' + image_name) }}" alt="Avatar" height="13%" width="13%">
        </a>
        {% else %}
        <a href="{{ url_for('upload_avatar') }}">
            <img class = "pp" src="static/uploads/icone_defaut.png" alt="Avatar" height="13%" width="13%">
        </a>
        {%endif%}

        
        <div class="marging"> 
            <br>
            <h1 class="noir-profil">
                Pseudo : {{session.pseudo}}
                <br> 
                id : {{session.id}}
                <br>
                mail : {{session.mail}}
                <br>
                date d'inscription : {{session.date}}
                <br>
           </h1>
           
           <br>
           <div class="container">
            <div class="logout">
                <p>
                    <a href="{{ url_for('logout') }}">Se déconnecter</a>
                </p>
            </div>
            <div class="update">
                <p>
                    <a href="{{ url_for('update') }}">Actualiser</a>
                </p>
            </div>
            <div class="delet">
                <p>
                    <a href="{{ url_for('delete') }}">Supprimer</a>
                </p>
            </div>
        </div>
           <br> 
        </div>
    </div>
</div>
    
    
{% endblock %}

