{% extends "base.html" %}
{% block content %}

<div class="block3" > 
    <h1 class = "param"> 
       Paramètres
    </h1> 
    <br>
    <div class = "block2" > 
        <h2 class="noir-profil-titre "> 
            Profil 
        </h2>
    </div>

    <div class="block">

        {% if session['pp'] == True %}
        <a href="{{ url_for('upload_avatar') }}"></a>
        <img class = "pp" src= "{{image}}" height="13%" width="13%">
        </a>
        {% else %}
        <a href="{{ url_for('upload_avatar') }}">
            <img class = "pp" src="static/uploads/icone_defaut.png" height="13%" width="13%">
        </a>

        {%endif%}
        <div class="marging"> 
            <br>
            <h1 class="noir-profil">
                Pseudo : {{session.pseudo}}
                <br> 
                id : {{session.id}}
                <br>
                mail : {{session.mail}}
                <br>
                date d'inscription : {{session.date}}
                <br>
           </h1>
           
           <br>
           <p class="logout "> 
            <a href="{{ url_for('logout') }}" >
                Se déconnecter
            </a> </p>
            <p class="update "> 
                <a href="{{ url_for('update') }}" >
                Actualisé
            </a> </p>
            <p class="delet "> 
                <a href="{{ url_for('delete') }}" >
                    Supprimé
                </a> 
            </p>
           <br> 
           
        </div>
    </div>

    
    

{% endblock %}

